@{
    ViewData["Title"] = "Privacy Policy";

    

}
<div class="bs-callout bs-callout-info" style="padding:0 !important; margin:0 !important;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#" id="TitlePage">Home / Sub link</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       

        <!-- Example single danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Setting
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Ngôn ngữ </a>
                <a class="dropdown-item" href="#">Style-màu sắc</a>
                <a class="dropdown-item" href="#" id="openDialog"><i class="bi bi-wrench" style="color:orange"></i> Cấu hình Lưới-Form nhập liệu</a>
                <a class="dropdown-item" href="#" id="open_CreateAllObj_Dialog"><i class="bi bi-gear-wide-connected" style="color:orange"></i> Tạo Instance, Database, Add Routes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="bi bi-server" style="color:orange"></i> Đồng bộ dữ liệu mới nhất</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Bật thanh tìm kiếm chuẩn</a>
                <a class="dropdown-item" href="#">Bật thanh tìm kiếm mở rộng</a>
            </div>
        </div>


        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        @*</div>*@
    </nav>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<script src="/lib/jquery/dist/jquery.js"></script>


@*Bạn học cách Import a module trong môi trường viết không phụ thuộc*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<link rel="stylesheet" href="~/js/DataTables/datatables.css">
<script type="text/javascript" src="~/js/DataTables/datatables.js" defer></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>


<script type="text/javascript" src="~/js/jsGobalLib/xdate.js"></script>




<div class="row">
    <div class="col-md-12">

        <form class="form-inline" runat="server">
            <div class="">

                <div class="content" id="gc_MainForm2" style="max-width:1110px !important"></div>


                <div id="divGrid2"></div>

            </div>

        </form>
    </div>
</div>








<script>






    



    //import flatpickr from "flatpickr";
    $(document).ready(function () {
        // commonjs

        //loading component to instance
        

        // es modules are recommended, if available, especially for typescript

        //Ở đây chúng ta muốn như sau:
        //1 Load 1 UI của Client từ Nguồn => save chúng vào 1 biến ở Client
        //2 Load 1 Bản data đi kèm Client này => save chúng vào 1 biến ở Client
        //3 Load các UI của Relation và Connection giữa chúng => save vào  client
        //4 Load các User UI đã lưu từ server ; đây là thể hiện của User
        //5 Reder chúng như bên dưới
        //Tức là chúng ta định nghĩa các hàm này thành 1 Đối tượng Nguyên thủy => có hàm Load và Produce chúng
        // Đọc readme 999999
        _gbApp.init();

        //set quyền và nhóm quyền
        $("#ulGobalMenu").html('');
        __GroupRight.init($("#ulGobalMenu"), __defineGroup.AdminGroup);

        __Space.init();

        //_gbApp.init();
        var objName = sessionStorage["groupUser"];//gup('p');
        if (objName === null)
            objName = "SellerGroup";

        if (sessionStorage["passUser"] === "true") {
            _gbApp._curMainOjectName = __defineGroup[objName].mainObject._id;
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
            $('#TitlePage').html(objName + "/" + _gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"]);

            //_gbApp.add("gcGobal_INCOM_Receipt_Detail", _gbDictionary["gcGobal_INCOM_Receipt_Detail"]);

            //_gbApp.add("gcGobal_COMP_EmployeeLife", _gbDictionary["gcGobal_COMP_EmployeeLife"]);
            //_gbApp.add("gcGobal_INCOM_Payment", _gbDictionary["gcGobal_INCOM_Payment"]);

            //_gbApp.add("gcGobal_ACCOUNT_Account", _gbDictionary["gcGobal_ACCOUNT_Account"]);

            //_gbApp.add("gcGobal_CUST_Customer", _gbDictionary["gcGobal_CUST_Customer"]);

            //_gbApp.add("gcGobal_STOCK_gcProduct_Input", _gbDictionary["gcGobal_STOCK_gcProduct_Input"]);

            //_gbApp.add("gcGobal_STOCK_gcProduct_Input_Detail", _gbDictionary["gcGobal_STOCK_gcProduct_Input_Detail"]);

            //_gbApp.add("gcGobal_STOCK_gcProduct_Output", _gbDictionary["gcGobal_STOCK_gcProduct_Output"]);

            //_gbApp.add("gcGobal_STOCK_gcProductList", _gbDictionary["gcGobal_STOCK_gcProductList"]);

            //_gbApp.add("gcGobal_STOCK_List", _gbDictionary["gcGobal_STOCK_List"]);

            for (key in _gbDictionary) {
                //_gbApp.add(key, _gbDictionary[key]);
            }

            _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );
        }

        //__Space.saveToLocal();
        $('.selectpicker').select2();

        //StocInputkGroup
        $("a[id*='navmenu_link']").click(function () {

            var objName = gup('p');
            if (objName === null)
                objName = "SellerGroup";

            
            $("#divGrid2").html('');
            $("#gc_MainForm2").html('');
            _gbApp.reset();
            _gbApp._curMainOjectName = $("#" + this.id).attr('objectname');
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
            $('#TitlePage').html(objName+"/" + _gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"]);


            _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );

            $('.selectpicker').select2({ dropdownCssClass: 'smalldrop', width: 'auto' });
        });

        //StocInputkGroup
        $("#StocInputkGroup").click(function () {

            $("#divGrid2").html('');
            $("#gc_MainForm2").html('');
            _gbApp.reset();
            _gbApp._curMainOjectName = "gcGobal_STOCK_List";
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
            $('#TitlePage').html("/" + _gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"]);


            _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );

            $('.selectpicker').select2({ dropdownCssClass: 'smalldrop', width: 'auto' });
        });

        $("#StockGroup").click(function () {

            $("#divGrid2").html('');
            $("#gc_MainForm2").html('');
            _gbApp.reset();
            _gbApp._curMainOjectName = "gcGobal_STOCK_gcProductList";
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
            $('#TitlePage').html("/" + _gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"]);


            _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );

            //__Space.saveToLocal();
            $('.selectpicker').select2({ dropdownCssClass: 'smalldrop', width: 'auto' });
        });

        ///
        $("#SellerGroup").click(function () {

            $("#divGrid2").html('');
            $("#gc_MainForm2").html('');
            _gbApp.reset();
            _gbApp._curMainOjectName = "gcGobal_STOCK_gcProduct_Input_Detail";
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
            $('#TitlePage').html("/" + _gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"]);


            _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );

            //__Space.saveToLocal();
            $('.selectpicker').select2({ dropdownCssClass: 'smalldrop', width: 'auto' });
        });

       
        

    });
</script>




