@{
    ViewData["Title"] = "Privacy Policy";
<<<<<<< HEAD

    

}
<div class="bs-callout bs-callout-info" style="padding:0 !important; margin:0 !important;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#" id="TitlePage">Home / Sub link</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       

        <!-- Example single danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Setting
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id='SelectLanguage'>Ngôn ngữ </a>
                <a class="dropdown-item" href="#">Style-màu sắc</a>
                <a class="dropdown-item" href="#" id="openDialog"><i class="bi bi-wrench" style="color:orange"></i> Cấu hình Lưới-Form nhập liệu</a>
                <a class="dropdown-item" href="#" id="open_CreateAllObj_Dialog"><i class="bi bi-gear-wide-connected" style="color:orange"></i> Tạo Instance, Database, Add Routes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="bi bi-server" style="color:orange"></i> Đồng bộ dữ liệu mới nhất</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="open_SearchObj_Dlg">Bật thanh tìm kiếm chuẩn</a>
                <a class="dropdown-item" href="#">Bật thanh tìm kiếm mở rộng</a>
            </div>
        </div>


        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        @*</div>*@
    </nav>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<script src="/lib/jquery/dist/jquery.js"></script>


=======
}
<h1>@ViewData["Title"]</h1>




<script src="/lib/jquery/dist/jquery.js"></script>

>>>>>>> 2259ee8d43418ea3d3553f03a79a2d5f0ffcbdea
@*Bạn học cách Import a module trong môi trường viết không phụ thuộc*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<<<<<<< HEAD
@* <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js" defer></script>

@* <script type="text/javascript" src="~/tmp/DataTables/datatables.js" defer></script>
<script type="text/javascript" src="~/js/DataTables/dataTables.bootstrap4.min.js" defer></script> *@




<script type="text/javascript" src="~/js/jsGobalLib/xdate.js"></script>
<script type="text/javascript" src="/js/htmlControl/AdminGroup/Seller/OrderDetail/htmlCtrlJs/OrderDetail.js"></script>
<script type="text/javascript" src="/js/htmlControl/AdminGroup/Seller/Business/htmlCtrlJs/Business.js"></script>
<script type="text/javascript" src="/js/htmlControl/AdminGroup/Seller/OrderDetail/htmlCtrlJs/DevProcess.js"></script>
=======
<link rel="stylesheet" href="~/js/DataTables/datatables.css">
<script type="text/javascript" src="~/js/DataTables/datatables.js" defer></script>



<link rel="stylesheet" href="/js/font-awesome-4.7.0/css/font-awesome.css" />


<script type="text/javascript" src="~/js/jsGobalLib/xdate.js"></script>
>>>>>>> 2259ee8d43418ea3d3553f03a79a2d5f0ffcbdea




<div class="row">
    <div class="col-md-12">

<<<<<<< HEAD
        <form class="form-inline" runat="server">
            <div class="">

                <div class="content" id="gc_MainForm2" style="max-width:1110px !important"></div>


                <div id="divGrid2"></div>

            </div>

=======
       

        <form class="form-inline" runat="server">
            <div class="">
                <div>
                    <div class="content" id="gc_gobal_MainFormID"></div>
                    <div style="height:40px !important"></div>
                    <div id="divGrid"></div>

                    <div class="content" id="gc_gobal_MainFormID1"></div>
                    <div style="height:40px !important"></div>
                    <div id="divGrid1" style="display:none !important"></div>

                    <div class="content" id="gc_gobal_MainFormID2"></div>
                    <div style="height:40px !important"></div>
                    <div id="divGrid2"  ></div>

                </div>
            </div>
>>>>>>> 2259ee8d43418ea3d3553f03a79a2d5f0ffcbdea
        </form>
    </div>
</div>

<<<<<<< HEAD
    
<script>


    anchors.options.placement = 'left';
    anchors.add('.container h1, .container h2, .container h3, .container h4, .container h5');

    // Set the "bootstrap" theme as the default theme for all Select2
    // widgets.
    //
    // ee https://github.com/select2/select2/issues/2927
    //$.fn.select2.defaults.set( "theme", "bootstrap" );

            //anchors.options.placement = 'left';
			//anchors.add('.container h1, .container h2, .container h3, .container h4, .container h5');

    //import flatpickr from "flatpickr";
    $(document).ready( function () {
        // commonjs

        var  lang = getCookie("_gbLanguage");
        if(typeof(lang)!=='undifined')
        {
            if(lang==='')
                {
                    setCookie("_gbLanguage", 'vn', 600);
                    _gbLanguage = 'vn';
                }
            else
                _gbLanguage = lang;
        }
        else
        {
            setCookie("_gbLanguage", 'vn', 600);
            _gbLanguage = 'vn';
        }
        //loading component to instance
        $.fn.modal.Constructor.prototype._enforceFocus = function() {};

        //reloadJs('/js/htmlControl/AdminGroup/Seller/OrderDetail/htmlCtrlJs/OrderDetail.js');
        //reloadJs('/js/htmlControl/AdminGroup/Seller/OrderDetail/htmlCtrlJs/DevProcess.js');
        // es modules are recommended, if available, especially for typescript

        //Ở đây chúng ta muốn như sau:
=======



<script src="~/js/Common/gc_ShowDivData.js?f=2sddd8"></script>
<script src="~/js/Common/gcGlobal.js?f=sdfssooosss8"></script>
<script src="~/js/Common/gcGlobalForm.js?f=12dd34"></script>
<script src="~/js/ClassCore/KernelTwoLine.js" ?f=123456></script>
<script src="~/js/ClassCore/KernelCell.js?f=19sss45699"></script>
<script src="~/js/ClassCore/CanteenDb.js?f=12sj866"></script>


<script>

    ///

    
    
    //import flatpickr from "flatpickr";
    $(document).ready(function () {
        // commonjs
        //const flatpickr = require("flatpickr");

        // es modules are recommended, if available, especially for typescript

       //Ở đây chúng ta muốn như sau:
>>>>>>> 2259ee8d43418ea3d3553f03a79a2d5f0ffcbdea
        //1 Load 1 UI của Client từ Nguồn => save chúng vào 1 biến ở Client
        //2 Load 1 Bản data đi kèm Client này => save chúng vào 1 biến ở Client
        //3 Load các UI của Relation và Connection giữa chúng => save vào  client
        //4 Load các User UI đã lưu từ server ; đây là thể hiện của User
        //5 Reder chúng như bên dưới
<<<<<<< HEAD
        //Tức là chúng ta định nghĩa các hàm này thành 1 Đối tượng Nguyên thủy => có hàm Load và Produce chúng
        // Đọc readme 999999
        _gbApp.init();

        //set quyền và nhóm quyền
        $("#ulGobalMenu").html('');
        __GroupRight.init($("#ulGobalMenu"), __defineGroup.AdminGroup);

        __Space.init();

        //_gbApp.init();
        var objName = sessionStorage["groupUser"];//gup('p');
        if (typeof(objName) === 'undefined' || objName ==="")
            {
                objName = "AdminGroup";
                location.href= '/';
            }

        var showGroupName = _gcI18c(__defineGroup[objName].lang);

        if (sessionStorage["passUser"] === "true") {
            _gbApp._curMainOjectName = __defineGroup[objName].mainObject._id;
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            //console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);

            var showName = _gcI18c(__defineGroup[objName].mainObject.lang);
            $('#TitlePage').html(showGroupName + "/" + showName);

            //_gbApp.add("gcGobal_INCOM_Receipt_Detail", _gbDictionary["gcGobal_INCOM_Receipt_Detail"]);

            //_gbApp.add("gcGobal_COMP_EmployeeLife", _gbDictionary["gcGobal_COMP_EmployeeLife"]);
            //_gbApp.add("gcGobal_INCOM_Payment", _gbDictionary["gcGobal_INCOM_Payment"]);

            //_gbApp.add("gcGobal_ACCOUNT_Account", _gbDictionary["gcGobal_ACCOUNT_Account"]);

            //_gbApp.add("gcGobal_CUST_Customer", _gbDictionary["gcGobal_CUST_Customer"]);

            //_gbApp.add("gcGobal_STOCK_gcProduct_Input", _gbDictionary["gcGobal_STOCK_gcProduct_Input"]);

            //_gbApp.add("gcGobal_STOCK_gcProduct_Input_Detail", _gbDictionary["gcGobal_STOCK_gcProduct_Input_Detail"]);

            //_gbApp.add("gcGobal_STOCK_gcProduct_Output", _gbDictionary["gcGobal_STOCK_gcProduct_Output"]);

            //_gbApp.add("gcGobal_STOCK_gcProductList", _gbDictionary["gcGobal_STOCK_gcProductList"]);

            //_gbApp.add("gcGobal_STOCK_List", _gbDictionary["gcGobal_STOCK_List"]);

            for (key in _gbDictionary) {
                //_gbApp.add(key, _gbDictionary[key]);
            }

             _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );
        }

        //__Space.saveToLocal();
        //$('.selectpicker').select2();

        //all object data list show it to permisstion
        $("a[id*='navmenu_link']").click(async function () {

            var objName = gup('p');
            if (typeof(objName) === 'undefined' || objName ==="")
                objName = "AdminGroup";
            var showGroupName = _gcI18c(__defineGroup[objName].lang);
            
            //-----------------------------------------------
           
            $("#divGrid2").html('');
            $("#gc_MainForm2").html('');
            _gbApp.reset();
            _gbApp._curMainOjectName = $("#" + this.id).attr('objectid');
            var showName = $("#" + this.id).attr('objectname');
            
            var obj = _gbDictionary[_gbApp._curMainOjectName];
            if(typeof(obj) === 'undefined')
                {
                    reloadJs('/js/htmlControl/AdminGroup/Seller/{0}/htmlCtrlJs/{0}.js'.format(_gbApp._curMainOjectName));
                    obj = _gbSubDictionary[_gbApp._curMainOjectName];
                }
            //-----------------------------------------------
            _gbApp.add(_gbApp._curMainOjectName, obj);

            if( (typeof(_gbLanguageI18[_gbApp._curMainOjectName]) !=='undefined') && (typeof(_gbLanguageI18[_gbApp._curMainOjectName].UIname) !=='undefined'))
            {
                //console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
                $('#TitlePage').html(showGroupName+"/" + showName);
            }
            else
                    $('#TitlePage').html(showGroupName+"/" + showName);

             await _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
                //for add icon
               
            });
            //$('.selectpicker').select2({ theme: "bootstrap",  containerCssClass: ":all:" });
            
            //$('.selectpicker').select2({ dropdownCssClass: 'smalldrop', width: 'auto' });
        });
        
       
        //StocInputkGroup
        $("#StocInputkGroup").click(function () {

            $("#divGrid2").html('');
            $("#gc_MainForm2").html('');
            _gbApp.reset();
            _gbApp._curMainOjectName = "gcGobal_STOCK_List";
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
            $('#TitlePage').html("/" + _gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"]);


            _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );

            //$('.selectpicker').select2({ dropdownCssClass: 'smalldrop', width: 'auto' });
        });

        $("#StockGroup").click(function () {

            $("#divGrid2").html('');
            $("#gc_MainForm2").html('');
            _gbApp.reset();
            _gbApp._curMainOjectName = "gcGobal_STOCK_gcProductList";
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
            $('#TitlePage').html("/" + _gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"]);


            _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );

            //__Space.saveToLocal();
            //$('.selectpicker').select2({ dropdownCssClass: 'smalldrop', width: 'auto' });
        });

        $("#SelectLanguage").click(function () {
                if(_gbLanguage==='vn')
                    _gbLanguage = 'en';
                else
                    _gbLanguage = 'vn';
                
                setCookie("_gbLanguage", _gbLanguage, 360);
                //reload all page
                location.reload();
        });
        ///
        $("#SellerGroup").click(function () {

            $("#divGrid2").html('');
            $("#gc_MainForm2").html('');
            _gbApp.reset();
            _gbApp._curMainOjectName = "gcGobal_STOCK_gcProduct_Input_Detail";
            _gbApp.add(_gbApp._curMainOjectName, _gbDictionary[_gbApp._curMainOjectName]);
            console.log(_gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"] + _gbLanguageI18[_gbApp._curMainOjectName].UIname["en"]);
            $('#TitlePage').html("/" + _gbLanguageI18[_gbApp._curMainOjectName].UIname["vn"]);


            _gbApp.run($("#divGrid2"), $("#gc_MainForm2")).then(function () {
                //_gbCaches.saveToLocal();
            }
            );

            //__Space.saveToLocal();
            //$('.selectpicker').select2({ dropdownCssClass: 'smalldrop', width: 'auto' });
        });


        //add search bar 
       $('#open_SearchObj_Dlg').click(function () {
           //gọi với điều kiện đối tượng đã build, và truyền và build search
           reloadJs('/js/htmlControl/AdminGroup/Seller/OrderDetail/htmlCtrlJs/OrderDetail.js');
           reloadJs('/js/htmlControl/AdminGroup/Seller/OrderDetail/htmlCtrlJs/DevProcess.js');
           _gbApp.reset();
            var name = "OrderDetail";
            _gbApp.add(name, _gbSubDictionary[name]);
            console.log();
            
            $('#OrderDetail_search_form').hide();
            $('#OrderDetail_search_form').html('');
            $('#OrderDetail_search_form').remove();
        
            //try ẩn form
            if(typeof(_gbApp._curMainOjectName)!=='undefined')
		        $("#" + _gbApp._curMainOjectName+"_form").hide();

            _gbApp.buildform($("#divGrid2"), $("#gc_MainForm2"), true).then(function () {
                //_gbCaches.saveToLocal();
            });
       });
        
        //for add icon
       

    });
</script>




=======
        //Tức là chúng ta định nghĩa các hàm này thành 1 Đối tượng Nguyên thủy => có hàm Load và Produce chúng 
        // Đọc readme 999999

        _gbApp.init();
        //_gbApp.add("gcGobal_WEBSITE_NEWS_TYPE", _gbDictionary._dictionarySelf.get("gcGobal_WEBSITE_NEWS_TYPE"));
        //_gbApp.run($("#gc_gobal_MainFormID"), $("#divGrid"));
        //_gbApp.add("gcGobal_INCOM_Receipt", _gbDictionary._dictionarySelf.get("gcGobal_INCOM_Receipt"));
        // _gbApp.run($("#gc_gobal_MainFormID1"), $("#divGrid1"));
        _gbApp.add("gcGobal_INCOM_Receipt_Detail", _gbDictionary._Self.get("gcGobal_INCOM_Receipt_Detail"));

        _gbApp.run($("#gc_gobal_MainFormID2"), $("#divGrid2"));

        //ScanDICT(_gbDictionary._dictionarySelf);

    });
</script>
>>>>>>> 2259ee8d43418ea3d3553f03a79a2d5f0ffcbdea
